extends layout

block content
    .row.banner
      .col-12
      h1 Queencups
    .row
      .col-12.col-lg-9
        .row
          .col-12.col-md-6
            p.rating
              i.fas.fa-star
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star
            p 1 Main Street, Connecticut, RG6 1PS
            .card.card-primary
               .card-block
                h2.card-title Opening Hours 
                p.card-text Monday-Friday : 7:00am - 7:00pm
                p.card-text Saturday : 8:00am - 5:00pm
                p.card-text Sunday : 8:00 am - 1:00pm
            .card.card-primary 
                .card-block 
                    h2.card-title Facilities 
                    span.badge.badge-warning 
                      i.fa.fa-check 
                        &nbsp;Coffee 
                      &nbsp;
                    span.badge.badge-warning 
                      i.fa.fa-check 
                        &nbsp;Food 
                      &nbsp;
                    span.badge.badge-warning 
                      i.fa.fa-check
                        &nbsp; Premium wifi 
                      &nbsp;
            .col-12.col-md-6.location-map 
                .card.card-primary 
                    .card-block 
                    h2.card-title Location Map
                    img.img-fluid.rounded (src=
    'http://maps.googleapis.com/maps/api/
    staticmap?center=51.455041,-0.9690884&scale=2&key=')

