extends layout

.row.banner 
    .col-12
        h1 Loc8tor
            small &nbsp;Find places to chill with wifi close by
.row
    .col-12.col-md-8
        p Listings
    .col-12.col-md-4
        p.lead Loc8tor can help find places to work or play for you
block content
  h1= title
  p Welcome to #{title}